header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #801126;
    font-variant: small-caps;
    font-style: oblique;
}

img {
    height: 20em;
}