<<<<<<< HEAD
html {
    background-color: #9C0D0D;
}

=======
>>>>>>> css
header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
<<<<<<< HEAD
    color: white;
    font-variant: small-caps;
    font-style: oblique;
}
head header p{
    font-style: strong;
}
img {
    height: 21em;
    border: 2px;
    border-style: solid;
    border-color: white;
}
footer {
    font-size: 10px;
    text-align: right;
    
=======
    color: #801126;
    font-variant: small-caps;
    font-style: oblique;
}

img {
    height: 20em;
>>>>>>> css
}